<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <% if(day<6 && day>0){ %>
        <h1>Hey Its Weekday go to work</h1>
        <%

    } else{
        %>
<h1>Hey Its weekend enjoy the day</h1>
        <%
    }
    %>
    
</body>
</html>